.Login {
        height: 100%;
        display: flex;
}

.Login-errorPopover:popover-open {
        background: #FF0000;
        width: 450px;
        max-width: 90%;
        height: 65px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 15px;

        font-family: "OpenSans";
        font-weight: 600;
        color: #fff;
        font-size: 18px;

        border: none;
        border-radius: 15px;

        top: 15px;
        margin: 0 auto;

        transition: display 0.2s ease-in;
}

.Login-left {
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.Login-topIllustration {
        display: none;
}

.Login-appLogo {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7.5px;
}

.Login_icon {
        height: 60px;
        margin-top: auto;
}

.Login-form {
        /* margin-top: -10px; Negate top margin of first label */

        width: 100%; /* Trigger it to grow in width */
        max-width: 450px; /* Then stop it at our required limit, thus making it responsive */
        padding: 0 50px;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        overflow: hidden;
}

.Login-label {
        margin-top: 15px;

        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 600;
        color: #0C1421;
}

.Login-form > input {
        border: 1px solid #D4D7E3;
        border-radius: 5px;

        background: #F7FBFF;

        padding: 0 15px;

        width: 100%;
        height: 48px;

        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 14px;

        margin-top: 8px;

        outline: none;
}

input.Login_inputPassword {
        padding-right: 47.5px;
}

.Login_showPasswordToggleContainer {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
}

.Login_passwordShowToggle {
        margin-top: -32.5px;
        height: 20px;
        display: block;

        cursor: pointer;
}

.Login-forgotpw {
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 600;
        color: #0033AE;

        display: block;
        margin-top: 12px;
        text-align: right;
        text-decoration: none;

        cursor: pointer;
}

.Login-submit {
        margin-top: 20px;

        width: 100%;
        outline: none;
        border: none;

        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        font-family: "OpenSans";
        font-weight: 700;
        font-size: 14px;
        color: #fff;

        background: #0033AE;
        height: 48px;
        border-radius: 50px;

        cursor: pointer;
}

.Register-submit {
        margin-top: 30px;
}

.Login-submit:disabled {
        cursor: not-allowed;

        background: hsl(222, 5%, 90%);
}

.submitButtonSpinner {
        height: 22.5px;
        aspect-ratio: 1;
        border: 5px solid hsla(0, 0%, 100%, 0.5);
        border-bottom-color: white;
        border-radius: 50%;
        animation: rotation 1s linear infinite;
}

@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
}

.Login-errorNotice {
        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        height: 15px;
}

.Login_form_errorNotice-bang {
        height: 15px;
        margin-right: 5px;
}

.Login_form_errorNotice-label {
        font-family: "OpenSans";
        font-size: 12px;
        color: brown;
}

.Login-register {
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 600;

        margin-top: 15px;
        text-align: center;
}

.Login-register > a {
        color: #1E4AE9;
        cursor: pointer;
        text-decoration: none;
}

.Login_right-tabAndFold {
        display: none;
}

.Login-rightIllustration {
        display: flex;
        width: 100%;
}

@media (max-width: 800px ) {
        .Login-topIllustration {
                display: block;
                width: 100%;
        }

        .Login-right {
                display: none;
        }

        .Login-left {
                justify-content: space-between;
        }

        .Login-appLogo {
                margin-top: 25px;
        }

        .Login-icon.loginScreen {
                display: none;
        }

        .Login-icon.registerScreen {
                display: inline;
        }

        .Login-form {
                padding: 0 20px;
                flex-grow: 1;
        }

        .Login-rightIllustration {
                display: none;
        }
}
