.AdminDashboard {
        background: #f5f5f5;

        height: 100svh;

        font-family: "OpenSans";

        display: flex;
        flex-direction: column;
        overflow: hidden;
}

.AdminDashboard_header {
        background: white;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;

        padding: 0 30px;

        height: 55px;

        border-bottom: 1px solid hsl(0, 0%, 90%);

        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.AdminDashboard_header_left {
        display: flex;
        align-items: center;
}

.AdminDashboard_appLogo {
        height: 16px;
}

.AdminDashboard_header_delineator {
        width: 1px;
        height: 24px;

        border: 1px solid #c0c0c0;

        margin: 0 20px;
}

.AdminDashboard_authLogo {
        height: 24px;

        margin-right: 7.5px;
}

.AdminDashboard_content {
        display: flex;
        flex-grow: 1;
        gap: 24px;

        overflow: hidden;
        padding: 24px;
}

.AdminDashboard_content_partition {
        display: flex;
        flex-direction: column;
        width: calc(50vw - 36px);

        gap: 24px;
}

.AdminDashboard_content_body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        overflow: hidden;

        border: 0.5px solid hsl(0, 0%, 90%);
        border-radius: 8px;

        background: white;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        position: relative;
}

.AdminDashboard_content_body.Sources {
        max-height: fit-content;

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
}

.AdminDashboard_content_title {
        font-size: 24px;
        font-weight: 350;

        margin-top: 16px;
        margin-left: 24px;

        display: flex;
        align-items: center;
        gap: 16px;
}

.AdminDashboard_content_title > img {
        height: 24px;
}

.AdminDashboard_table {
        margin-top: 16px;

        display: block;

        background: white;

        overflow-y: auto;

        padding: 0;

        overflow-y: auto;
        border: 0;

        border-spacing: 0;
}

.AdminDashboard_table > thead {
        position: sticky;
        top: 0;
        background: #eff7fa;

        min-height: 40px;
        height: 40px;
}

.AdminDashboard_table tr {
        height: 45px;
}

.AdminDashboard_table tbody > tr:nth-child(even) {
        background: #F8F9FA;
}

.AdminDashboard_table th,
.AdminDashboard_table td {
        text-align: left;
        padding: 0 7.5px;
        white-space: nowrap;

        font-weight: 350;
        font-size: 14px;
}
.AdminDashboard_table th {
        font-weight: 500;
}

.AdminDashboard_table td:nth-child(3) {
        width: 100%;
}

.AdminDashboard_table tbody td:nth-child(1),
.AdminDashboard_table tbody td:nth-child(4) {
        text-align: center;
}

.AdminTable_userActiveIndicator {
        height: 7.5px;
        width: 7.5px;

        margin-top: 7.5px;
        margin-right: 5px;

        border-radius: 3.75px;

        float: left;

        background: red;
}

.AdminTable_userActiveIndicator.active {
        background: green;
}

.AdminDashboard_actionIconButton {
        border: none;
        outline: none;
        background: transparent;

        display: block;
        margin: 0 auto;

        cursor: pointer;
}

.AdminDashboard_actionIcon {
        height: 24px;
}

.AdminDashboard_knowledgeInputs {
        padding: 30px;
        padding-top: 15px;

        display: flex;
        flex-shrink: 0;
        gap: 30px;
}

.AdminDashboard_knowledgeInputs_website {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        padding-right: 30px;

        border-right: 2.5px solid hsl(0, 0%, 95%);
}

.AdminDashboard_knowledgeInput_heading {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
}

.AdminDashboard_knowledgeInput_textInputContainer {
        outline: 1px solid #c0c0c0;
        border: 4px solid white;
        border-radius: 8px;
        height: 40px;

        overflow: hidden;

        display: flex;
        align-items: center;
        flex-shrink: 0;
}

.AdminDashboard_urlInput {
        outline: none;
        border: none;
        border-radius: 5px;

        padding-left: 10px;

        height: 100%;
        min-width: 50px;

        display: flex;
        align-items: center;
        flex-grow: 1;

        font-size: 14px;
        font-weight: 350;
}

.AdminDashboard_urlInput:disabled {
        cursor: not-allowed;
        background: white;
}

.AdminDashboard_addUrlButton {
        font-size: 14px;
        font-weight: 400;

        height: 100%;
        min-width: fit-content;

        padding: 0 10px;

        background: #f7e2c7;

        border: none;
        outline: none;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        gap: 8px;

        cursor: pointer;
}

.AdminDashboard_addUrlButton > img {
        height: 16px;
}

.AdminDashboard_addUrlButton:disabled {
        color: black;
        cursor: not-allowed;
}

.AdminDashboard_knowledgeInputs_file {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 200px;
}

.AdminDashboard_knowledgeInputs_file > input {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
}

.AdminDashboard_fileUpload_buttonsGroup {
        display: flex;
        gap: 15px;
}

.AdminDashboard_fileUpload_button {
        height: 40px;

        border: none;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 8px;

        font-size: 14px;

        cursor: pointer;
}

.AdminDashboard_fileUpload_button > img {
        height: 16px;
}

.AdminDashboard_fileUpload_button:disabled {
        color: black;
        cursor: not-allowed;
}

.AdminDashboard_fileUpload_button.Upload {
        background: #e7ffce;
}

.AdminDashboard_fileUpload_button.Cancel {
        max-width: 40px;
        min-width: 40px;
}

.AdminDashboard_contentManagement {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        overflow: hidden;

        background: white;
}

.AdminDashboard_extractButton {
        margin-top: 16px;
        margin-left: 30px;

        outline: none;
        border: none;
        border-radius: 4px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-shrink: 0;

        height: 40px;
        width: fit-content;
        padding: 0 20px;

        background: #fffaa0;

        font-size: 14px;
        font-weight: 350;

        cursor: pointer;
}

.AdminDashboard_extractionStatus {
        margin-top: 8px;
        margin-left: 30px;
}

.AdminDashboard_extractionStatus_status {
        font-weight: 350;
        font-size: 14px;
}

.AdminDashboard_extractionStatus_lastExtracted {
        font-weight: 500;
        font-size: 12px;
}

.AdminDashboard_extractedSections_title {
        margin-top: 24px;
        margin-left: 30px;

        font-size: 20px;
        font-weight: 350;
}

.AdminDashboard_extractedSections {
        margin-top: 16px;

        padding: 0 30px;
        padding-top: 0;

        overflow-y: auto;
}

.AdminDashboard_extractedSection {
        margin-bottom: 16px;
/* 
        max-height: 300px;

        padding: 16px;

        border: 1px solid hsl(0, 0%, 90%);

        overflow-y: auto; */
}

.AdminDashboard_extractedSection_title {
        font-size: 16px;
        font-weight: 500;
}

.AdminDashboard_extractedSection_content {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 350;

        text-align: justify;
}
