.AdminLogin {
        background: #F2F2F2;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100svh;

        font-family: "OpenSans";
}

.AdminLogin_form {
        border-radius: 25px;
        overflow: hidden;

        background: white;

        display: flex;
        flex-direction: column;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        padding-bottom: 30px;
}

.AdminLogin_form_header {
        display: flex;

        height: 65px;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.AdminLogin_form_header > div {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 30px;
}

.AdminLogin_form_header_left {
        background: #0033A0;
}

.AdminLogin_form_header_left > img {
        height: 24px;
}

.AdminLogin_form_title {
        display: flex;
        justify-content: center;
        gap: 15px;

        font-size: 26px;
        font-weight: 500;

        margin-top: 32px;
}

.AdminLogin_form_title > img {
        height: 40px;
}
